[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/nani333
[access "refs/for/refs/*"]
	read = group user/nani333
	push = group user/nani333
	label-Code-Review = -2..+2 group user/nani333
	label-Verified = -1..+1 group user/nani333
	rebase = group user/nani333
	removeReviewer = group user/nani333
	submit = group user/nani333
[access "refs/heads/*"]
	read = group user/nani333
	create = group user/nani333
	push = +force group user/nani333
	pushMerge = group user/nani333
[access "refs/tags/*"]
	push = group user/nani333
	push = +force group user/nani333
